extends layout

block content
  nav.navbar.navbar-inverse( role="navigation" )
    navbar-header
      a.navbar-brand(href="#") MKD Lineage
    ul.nav.navbar-nav
      li: a(href="/") Home
      li: a( href="Search" ) Search
      li: a( href="update" ) Update
      li.active: a( href="new" ) New
      
      
    div.row
      div.col-md-12.mb-r
        div(style='background-image:url("file:///D:/Rupali/Trial/MKDLineage/views/background.jpg")')
          div.text-white.text-left.d-flex.align-items-bottom.rgba-black-strong.py-10.px-4
            .jumbotron
              h1 New New New
              p   A search Engine - XDS Document meta details
              p   Market Data document data flow information from source to subscriber
            .col-lg-4
            .panel.panel-default
              .panel-heading
                h4  Join us. 
              .panel-body
                | Today if you make a choice,  you are going to get ever connected to 
                internet all the time through out your life, even if you go to villages, 
  div.footer