extends layout

block content
  nav.navbar.navbar-inverse( role="navigation" )
    navbar-header
      a.navbar-brand(href="#") MKD Lineage
    ul.nav.navbar-nav
      li: a(href="/") Home
      li: a( href="Search" ) Search
      li.active: a( href="update" ) Update
      li: a( href="new" ) New
      
      
  div.container
    form.form-horizontal
      br
      br
      div(style="float: left;") DocType
        br
        input.form-control(id="DocType" placeholder="Enter DocType" name="docType")
      div(style="float: left;") DocPath
        br
        input.form-control(id="DocPath" placeholder="Enter DocPath" name="docPath")
      br
      br
  div.container
    div.content
      table.table.table-striped
        thead
          tr.warning
            th System
            th User
            th SystemType
            th SystemLevel
            th
              button.btn.btn-warning.btn-sm.active(type="button") Add System
            th
        tbody
          tr
            td
              input.form-control(id="System" placeholder="Reuter" name="system")
            td
              input.form-control(id="User" placeholder="ABC" name="User")
            td
              select.form-control(id="Type1")
                option Processor
                option Source
            td
              select.form-control(id="Level1")
                option 0
                option 1
                option 2
                option 3
                option 4
                option 5
            td
              button.btn.btn-warning.btn-sm.active(type="button") Delete
            td
              button.btn.btn-warning.btn-sm.active(type="button") Update
          if MKData.length
            each doc in MKData
              tr
                td #{doc.System}
                td #{doc.User}
            td
              select.form-control(id="Type1")
                option Processor
                option Source
            td
              select.form-control(id="Level1")
                option 0
                option 1
                option 2
                option 3
                option 4
                option 5
            td
              button.btn.btn-warning.btn-sm.active(type="button") Delete
            td
              button.btn.btn-warning.btn-sm.active(type="button") Update
  div.container
    form.form-horizontal
      div.form-group.row
        div.col-xs-2
          label.control-label Subscriber
          select.form-control(multiple id="Type2")
            option Summit
            option Sophis
        div.col-xs-4
          button.btn.btn-success(type="Submit") Validate
        
  div.footer
  
block script
  script(src="/src/UpdateFunctions.js")
  script(src="/src/UpdateFunctions.js")